<section class="chat-room">
    <div id="chat">
        <div id="subject">
            <div>Chat Room</div>
            <div @click="logOut" id="logOut">
                <span>signOut</span>
            </div>
        </div>
        <div>
            <div id="leftBar">
                <div>
                    <div v-for="item in usuarios" class="userBlock" v-if="item.id != $Usuario.id">
                        <div>
                            <div></div>
                            <div>
                                <div class="nameUser">{{item.name}}</div>
                                <div class="emailUser">{{item.email}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="profile">
                        <div>
                            <div>
                                <div></div>
                            </div>
                            <div>
                                <div id="profileName">{{$Usuario.name}}</div>
                                <div id="profileStatus">online</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="message-chat">
                <div>
                    <div id="msg">
                        <div id="msgScroll">
                            <div  v-for="msg in messages">
                                <!--  -->
                                <div>
                                    <span :style="`color: ${(msg.name == $Usuario.name)? '#b033ff': ''}`">
                                        [{{checkDate(msg.dateTime, "date")}} - {{checkDate(msg.dateTime, "time")}}] {{msg.name}}: </span>
                                    <span>{{msg.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="search" v-model="valueMessage" placeholder="Type Your Message. . ." autocomplete="off" v-on:keyup.enter="onEnter">
            </div>
        </div>
    </div>
</section>