<section class="chat-room">
    <div id="chat">
        <div id="subject">
            <div @click="show_me">Chat Room</div>
            <div @click="logOut" id="logOut">
                <span>LogOut</span>
            </div>
        </div>
        <div id="message-chat">
            <div id="msg">
                <ul v-for="msg in messages" style="display: flex;">
                    <li style="font-weight: bold;">{{msg.name}}:</li>
                    <div>&#160{{msg.description}}</div>
                </ul>
            </div>
            <input id="search" v-model="valueMessage" :placeholder="[[ valor ]]" autocomplete="off" v-on:keyup.enter="onEnter">
        </div>
        <div id="foot"></div>
    </div>
</section>