@mixin flexColumn{
  display: flex;
  flex-direction: column;
}
$borderSize: 3px;

.signIn, .signIn #authentication input {
  box-shadow: 0 4px 8px 0 rgba(138, 101, 145, 0.3), 0 6px 20px 0 rgba(125, 74, 134, 0.3);
}

.signUp, .signUp #authentication input {
  box-shadow: 0 4px 8px 0 rgba(31, 82, 158, 0.3), 0 6px 20px 0 rgba(31, 82, 158, 0.3);
}

.signIn h1{
  color: #8f03a9;
}

.signUp h1{
  color: #0554cb;
}

.authentication-component {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication-component span{
  @include flexColumn;
  width: 250px;
  margin-inline: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
}

.authentication-component span h1{
  text-align: center;
  margin: 0px 0px 30px 0px;
  font-family: 'Alkatra', sans-serif;
}

#authentication{
  @include flexColumn;
  justify-content: center;
  height: 100%;
}

#authentication input {
  border-radius: 30px;
  height: 30px;
  padding-left: 15px;
  border: unset;
  margin-bottom: 20px;
}

#authentication input:focus {
  outline: unset;
}

#btn{
  display: flex;
  justify-content: flex-end;
  height: 50px;
  margin-top: 10px;
}

#btn input, #btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 30px;
  border: unset;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  background-color: unset;
  font-family: "Orbitron", sans-serif;
  border-radius: 10px;
  box-sizing: border-box;
}

.signIn #btn input:hover, .signIn #btn a:hover{
  border: 2px solid #8f03a9;
}

.signUp #btn input:hover, .signUp #btn a:hover{
  border: 2px solid #0554cb;
}

.signIn #btn input, .signIn #btn a{
  color: #8f03a9;
  box-shadow: 0 4px 8px 0 rgba(138, 101, 145, 0.3), 0 6px 20px 0 rgba(125, 74, 134, 0.3);
}

.signUp #btn input, .signUp #btn a{
  color: #0554cb;
  box-shadow: 0 4px 8px 0 rgba(31, 82, 158, 0.3), 0 6px 20px 0 rgba(31, 82, 158, 0.3);
}

#btn a{
  text-decoration: unset;
  margin-left: 10px;
}

@media screen and (max-width: 320px) {
  .authentication-component span{
    width: 55vw;
    padding: 15vw;
  }

  #btn input, #btn a {
    font-size: 4.5vw;
  }
}