<section class="authentication-component">
    <span v-bind:class="{ 'signIn': type === 'signIn',
         'signUp': type === 'signUp'}">
        <h1 >{{type}}</h1>
        <form method="POST" @submit.prevent="authentication">
            <div id="authentication">
                <input required type="text" placeholder="Name" v-model="usuario.name" autocomplete="false">
                <input v-if="type === 'signUp'" required type="email" placeholder="Email" v-model="usuario.email" autocomplete="false">
                <input required type="password" placeholder="Password" v-model="usuario.password" autocomplete="false">
            </div>
            <div style="color: rgb(207, 7, 7); font-weight: bold;">{{invalido}}</div>
            <div id="btn">
                <input type="submit" value="confirm" />
                <router-link to="/">cancel</router-link>
            </div>
        </form>
    </span>
</section>
